

  <div class="px-4 py-5 my-5 text-center " >
    <img class="d-block mx-auto mb-4" src="../../../assets/image/logo.png" alt="" width="170" height="auto">
    <h1 class="display-5 fw-bold text-body-emphasis">Optimus</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">Menos peso, más velocidad. Comprime tus imágenes al instante y mejora la experiencia de usuario en tu sitio web.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" (click)="obtenerImagen()" class="btn btn-primary btn-lg px-4 gap-3"><i class="fa-solid fa-circle-up m-2"></i>SUBIR IMAGEN</button>
      </div>
    </div>
  </div>
 
<div class="container px-4 py-5" id="featured-3" >
  <h2 class="pb-2 border-bottom">Ventajas de usar Optimus</h2>
  <div class="row g-4 py-5 row-cols-1 row-cols-lg-3">
    <div class="feature col">
      <h3 class="fs-2 text-body-emphasis">Pequeño</h3>
      <p>Imágenes más pequeñas significan tiempos de carga más rápidos. Óptimo
          puede reducir el tamaño del archivo y mantener una alta calidad.</p>
    </div>      
    <div class="feature col">     
      <h3 class="fs-2 text-body-emphasis">Seguro</h3>
      <p>¿Preocupado por la privacidad? Las imágenes nunca salen de tu
          dispositivo ya que Óptimo hace todo el trabajo localmente.</p>    
    </div>
    <div class="feature col">   
      <h3 class="fs-2 text-body-emphasis">Simple</h3>
      <p>Suelta tu imagen, mírala comprimirse, y descárgala.<br />¡Así de
          simple!</p>
    </div>
  </div>
</div>
<div class="container" >
  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-body-secondary text-decoration-none lh-1">
        <svg class="bi" width="30" height="24"><use xlink:href="#bootstrap"/></svg>
      </a>
      <span class="mb-3 mb-md-0 text-body-secondary">&copy; 2024 Company, Optimus.</span>
    </div>

    <ul class="nav col-md-4 justify-content-center list-unstyled d-flex">
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-facebook"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-instagram"></i></a></li>
      <li class="ms-3"><a class="text-body-secondary" href="#"><i class="fa-brands fa-tiktok"></i></a></li>
    </ul>
  </footer>
</div>

 